

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid black;
}

.display {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 100px 0;
    border-bottom: 3px solid black;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}

.numbers,
.operators {
    display: flex;
    flex-wrap: wrap;
}

.digit,
.operator {
    margin: 5px;
    height: 30px;
    background-color: grey;
    border-radius: 4px;
}

.digit {
    flex: 1 0 25%;
}

.operator {
    flex: 1 0 45%;
}